{% extends 'wood/newbase.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
    <div class="col-md-8">
        <div class="single_art">
            <div class="row">
                <h2>{{ article.title }}</h2>
                <img src="{{ article.image.url }}">
                <p align="left">{{ article.text }}</p>
                <p align="left">Коментарии:</p>
                    {% for comment in comments %}
                        <p>{{ comment.comments_text }}</p>
                    {% endfor %}
                        <form action="/articles/addcomment/{{ article.id }}/" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" class="button" value="Добавить комментарий">
                        </form>
            </div>
        </div>
    </div>
{% endblock %}
