{% extends 'wood/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
 <h1 class="text-center">Wood Blog</h1>
  <div class='col-md-8' align="center">
    {% for article in articles %}
        <div class="well blog_page_articles">
     <h3><a href="{% url 'single_article' article.id %}">{{ article.title }}</a></h3>
     <img src="{{ article.image.url }}" align="left" class="blog-img img-thumbnail">
     <p align="left">{{ article.short_text }}...
     <button class="button">
     <a href="{% url 'single_article' article.id %}"><span>Читать дальше</span></a>
     </button>
            </p>
        </div>

    {% endfor %}
  </div>

{% endblock %}