{% extends 'wood/newbase.html' %}

{% block title %}Store{% endblock %}

{% block content %}
    <div class="col-md-14">
        <div class="row">
            <div class="store_category">
                <p>Категории:</p>
                <ul class="nav nav-list" style="list-style-type: none">
                    {% for category in categories %}
                        <li><a href="#">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class='col-md-6 col-md-offset-2'>
                <!--<h3 class='text-center'>chosen_category</h3>-->
                {% for product in products %}
                <div class="well store_page_items">
                    <img src="{{ product.image.url }}" alt='{{ product.name }}' class="store_images img-rounded"/>
                    <p class="store_page_items_name"><a href="#">{{ product }}</a></p>
                    <p>{{ product.price }} &#8372</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}