{% extends 'wood/base.html' %}

{% block title %}Арт-Лавка | {{ product.name }}{% endblock %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="store_item">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <h2>{{ product.name }}</h2>
            <p>Цена: {{ product.price }} грн</p>
            <p>{{ product.description }}</p>
            <button class="button" data-toggle="modal" data-target="#buy">
                Купить
            </button>
        </div>
    </div>
    <div class="modal" id="buy" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h2>Купить {{ product.name }}</h2>
                </div>
                <div class="modal-body">
                    <form class="text-center" method="POST" action="/store/purchase/{{ product.id }}/">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field.label_tag }}<br/>
                            {{ field }}<br/>
                        {% endfor %}
                        <input type="submit" class="button">
                        <button type="button" class="button cancel" data-dismiss="modal">Отмена</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


