{% extends 'wood/base.html' %}

{% block title %}Арт-Лавка | {{ category.name }}{% endblock %}

{% block content %}
    <div class="container">
     <div class='col-md-12 store'>
        <div class="store_category_name">
            <h3>{{ category.name }}</h3>
        </div>
            {% for product in products %}
            <div class="store_page_items">
                <img src="{{ product.image.url }}" alt='{{ product.name }}' class="store_images img-rounded img-responsive"/>
                <div class="store_page_items_info">
                    <div class="store_page_items_name">
                    <span><a href="{% url 'store_item' product.id %}">{{ product.short_name }}</a></span>
                    </div><p>{{ product.price }} &#8372</p>
                </div>
            </div>
            {% endfor %}
     </div>
    </div>
{% endblock %}