*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}
h1 {
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 30px;
}
h2, h3 {
	color: #803acc;
	font-family: 'RobotoRegular', sans-serif;
}
a:hover {
	text-decoration: none;
}
.button {
	background-color: rgba(215, 169, 255, 0.5);
    border: none;
    border-radius: 15px;
    padding: 8px 15px;
	margin-bottom: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
.button:hover {
	background-color: rgba(193, 112, 216, 0.56);
    transition: all 0.2s;
}
.header_topline {
	background-color: #1a0133;
	padding:10px 0;
}
.header_topline p {
	color: #3a0668;
}
.header_topline a {
	color: #d7a9ff;
}
.top_links {
	display: inline-block;
	vertical-align: middle;
}

.soc_buttons {
	float: right;
    vertical-align: middle;
}
.soc_buttons a {
	font-size:26px;
    margin-left:8px;
	display: inline-block;
}
.soc_buttons a:hover {
    background-color: #9047b4;
    border-radius: 13px;
    transition: all 0.5s

}
.logo {
	display: block;
	padding:15px 0;
	color: #fff;
	font-size: 40px;
	font-family: 'Lobster', cursive;
	text-align: center;
}
.top_header {
	background-color: #462369;
}
.top_header a:hover{
	color: white;
}
.main_menu	{
	background-color: #69278a;
	color: #fff;
	margin-bottom: 20px;
	border-radius: 5px;
}
.main_menu a {
	color: #fff;
	padding: 15px 10px;
	display: block;
	border-radius: 5px;
	-webkit-transition: all .45s;
	-moz-transition: all .45s ;
	-o-transition: all .45s ;
	transition: all .45s ;
}
.main_menu a:hover {
	background-color: #99339B;
	border-radius: 5px;
}
.main_menu ul {
	margin: 0;
	padding: 0;
	list-style-type:none;
	float: left;
}
.main_menu ul li {
	display: inline-block;
}
.top_contacts {
	background-color: #8d50a0;
	float: right;
	font-size: 34px;
	line-height: 53px;
    padding: 0 20px;
	border-radius: 5px;
}
/*Каруселька*/
.slider_container img {
	max-width:100%;
	border-radius: 5px;
}
.slider_container {
	position: relative;
	margin-bottom: 24px;
    margin-top: -10px;
}
.next_button, .prev_button {
	background-color: rgba(215, 169, 255, 0.5);
	padding: 0 25px;
	color: #330066;
	font-size: 46px;
	position: absolute;
	z-index: 10;
	cursor: pointer;
	top: 40%;
	border-radius: 10em;
}
.next_button:hover, .prev_button:hover {
	background-color: rgba(157, 72, 216, 0.54);
	transition: all 0.5s;
}
.next_button {
	right: 25px;
}
.prev_button {
	left: 25px;
}
/*------*/
.blog_item img {
	max-width:100%;
	border-radius: 10px;
}
.blog_item h3 {
	font-family:"RobotoRegular", sans-serif;
	margin-bottom: 10px;
}
/*Single article*/
a {
	color: rgb(116, 15, 120);
}
.single_art {
	text-align: center;
	padding:0 50px;
	color: rgb(98, 10, 112);
}
.single_art form {
	text-align: left;
}
.single_art img {
	float: left;
	max-width:40%;
	margin-right: 10px;
	border-radius: 10px;
}
.comments {
	padding: 0 20px 0 20px;
	margin-bottom: 10px;
	border: solid 1px rgb(98, 10, 112);
	border-radius: 10px;
}
.comments p {
	color: rgba(98, 148, 231, 0.72);
}
.clr {
	color: #0d0084;
}
.right_side {
	padding: 0 0 0 0;
    border-radius: 20px;
    background-color: #9966cc;
	margin-top: 30px;
}
.right_side ul {
	list-style-type:none;
}
.right_side a {
	color: #000000;
	display: block;
	transition: all .45s ;
}
.right_side a:hover {
	padding:10px;
	-webkit-border-radius:10px;
	background-color: #c170d8;
}
/*---*/
/*-------------Store section--------------*/
.store{
	margin-top: 20px;
	text-align: center;
}
.store_category {
    font-size: 16px;
	text-align: center;
}
.store_category ul{
	margin-bottom: 0;
	list-style-type: none;
	padding-left: 0;
}
.store_category ul li{
	display: inline;
}
.store_category_name {
	text-align: center;
	margin-top: 5px;
}
.store_page_items {
	max-width: 200px;
    display: inline-block;
    border: solid 2px rgba(98, 10, 112, 0.3);
    border-radius: 10px;
    margin-bottom: 25px;
    margin-left: 25px;
}
.store_page_items_name {
	font-size: 18px;
    margin-bottom: 0;
    text-align: center;
}
.store_page_items_name a:hover {
	color: #e25ecd;
}
.store_images {
    height: 140px;
    width: 160px;
}
.store_item {
	margin: 20px 0 40px 0;
}
.store_item img{
	float: left;
	border: solid 2px rgba(98, 10, 112, 0.3);
	border-radius: 20px;
	height: 300px;
	width: 300px;
	margin: 0 50px 40px 0;
}
.store_item h1 {
	text-align: left;
}
.store_item p {
	text-align: justify;
}
/* -------------------------------------- */
.footer {
    background-color: #1a0133;
    display: inline-block;
    width: 100%;
}
.footer p {
	font-size: 12px;
	color: #d7a9ff;
    text-align: center;
 }
.text-center{
	text-align: center;
}