.main-content {
    margin-top: 80px;
}

.blog-img {
    height: 160px;
    width: 160px;
}
.article-img {
    height: 400px;
    width: 400px;
}
.store_category {
    font-size: 16px;
    padding-top: 50px;
}
.store_page_items {
    max-width: 200px;
    display: inline-block;
}
.store_page_items_name{
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 18px;
}
.store_images{
    height: 160px;
    width: 160px;
}
a {
    color: #3D32A6;
}
.blog_page_articles {
    display: inline-block;
}
.article_main {
    position: absolute;
    left: 87px;
    width: 360px;
    padding: 8px;;
}